{%- assign percentage = item.chart.percentage | append:"%" -%}
<div class="chart-item">
  <div class="chart-item-info">
    <a class="title" href="{{ item.chart.url }}">{{ item.chart.title }}</a>
    {%- assign playsLabel = item.chart.plays | pluralize:"play" -%}
    <span class="subheader">{{ item.chart.artist }}</span>
    <span class="subheader">{{ item.chart.plays }} {{ playsLabel }}</span>
  </div>
  <div class="chart-item-progress">
    {% render "media/progress-bar.liquid",
      percentage:percentage
    %}
  </div>
</div>
