<div class="music-chart">
  <ol type="1">
    {%- for item in data limit: count -%}
      {%- assign percentage = item.chart.percentage | append: '%' -%}
      <li value="{{ item.chart.rank }}">
        <div class="item">
          <div class="info">
            <a class="title" href="{{ item.chart.url }}">{{ item.chart.title }}</a>
            {%- assign playsLabel = item.chart.plays | pluralize:"play" -%}
            <span class="subtext">{{ item.chart.artist }}</span>
            <span class="subtext">{{ item.chart.plays }} {{ playsLabel }}</span>
          </div>
          {% render "media/progress-bar.liquid", percentage:percentage %}
        </div>
      </li>
    {%- endfor -%}
  </ol>
</div>