<div class="media-grid {{ shape }}">
  {%- assign loadingStrategy = loading | default:"lazy" -%}
  {%- for item in data limit:count -%}
    {%- assign alt = item.grid.alt | replaceQuotes -%}
    {%- assign imageUrl = item.grid.image -%}
    <a href="{{ item.grid.url }}" title="{{ alt }}">
      <div class="media-grid-item">
        {%- if item.grid.title or item.grid.subtext -%}
        <div class="meta-text highlight-text">
          {% if item.grid.title %}
          <div class="header">{{ item.grid.title }}</div>
          {% endif %}
          {% if item.grid.subtext %}
          <div class="subheader">{{ item.grid.subtext }}</div>
          {% endif %}
        </div>
        {%- endif -%}
        {%- assign imageClass = "" -%}
        {%- assign width = 0 -%}
        {%- assign height = 0 -%}
        {%- case shape -%}
          {%- when "square" -%}
            {%- assign imageClass = "square" -%}
            {%- assign width = 200 -%}
            {%- assign height = 200 -%}
          {%- when "vertical" -%}
            {%- assign imageClass = "vertical" -%}
            {%- assign width = 200 -%}
            {%- assign height = 307 -%}
        {%- endcase -%}
        <img
          srcset="
            {{ globals.cdn_url }}{{ imageUrl }}?class={{ imageClass }}sm&type=webp {{ width }}w,
            {{ globals.cdn_url }}{{ imageUrl }}?class={{ imageClass }}md&type=webp {{ width | times:2 }}w
          "
          sizes="(max-width: 450px) {{ width }}px, {{ width | times:2 }}px"
          src="{{ globals.cdn_url }}{{ imageUrl }}?class={{ imageClass }}sm&type=webp"
          alt="{{ alt }}"
          loading="{{ loadingStrategy }}"
          decoding="async"
          width="{{ width }}"
          height="{{ height }}"
        />
      </div>
    </a>
  {%- endfor -%}
</div>
{% render "nav/paginator.liquid",
  pagination:pagination
%}
