---
permalink: "/blogroll.opml"
layout: null
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
  <head>
    <title>OPML for all feeds in {{ globals.site_name }}'s blogroll</title>
    <dateCreated>{{ page.date | stringToRFC822Date }}</dateCreated>
  </head>
  <body>
    {%- for blog in blogroll -%}
      <outline text="{{ blog.name }}" title="{{ blog.name }}" type="rss" xmlUrl="{{ blog.rss_feed }}" htmlUrl="{{ blog.url }}"/>
    {%- endfor -%}
  </body>
</opml>
