<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="{{ globals.url }}{{ permalink }}" rel="self" type="application/rss+xml" />
    {%- assign entries = data -%}
    <title><![CDATA[{{ title }}]]></title>
    <description><![CDATA[{{ globals.site_description }}]]></description>
    <link>{{ globals.url }}{{ permalink }}</link>
    {% assign firstEntry = entries | first %}
    <lastBuildDate>{{ 'now' | date: "%a, %d %b %Y %H:%M:%S %z" }}</lastBuildDate>
    <image>
      <title><![CDATA[{{ title }}]]></title>
      <link>{{ globals.url }}{{ permalink }}</link>
      <url>{{ globals.cdn_url }}{{ globals.avatar }}?class=w200</url>
      <width>144</width>
      <height>144</height>
    </image>
    {% for entry in entries limit: 20 -%}
      {%- assign entrySyndication = entry.syndication -%}
      <item>
        <title><![CDATA[{{ entrySyndication.title }}]]></title>
        <link>{{ entrySyndication.url | encodeAmp }}</link>
        <pubDate>{{ entrySyndication.date | stringToRFC822Date }}</pubDate>
        <guid isPermaLink="false">{{ entrySyndication.url | encodeAmp }}</guid>
        <description><![CDATA[{{ entrySyndication.description | escape | markdown }}]]></description>
      </item>
    {%- endfor %}
  </channel>
</rss>
