<h2>
  {% tablericon "activity" %}
  Recent activity
</h2>
<p><a href="/posts" class="article">Posts</a> / <a href="/links" class="link">Links</a> / <a href="/watching" class="movies">Watching</a> / <a href="/books">Books</a></p>
<ul>
  {%- for post in posts -%}
  {%- assign postData = post.feed -%}
  <li class="{{ postData.type }}">
    [{{ postData.label }}]:
    <a href="{{ postData.url }}">{{ postData.title }}</a> /
    <time datetime="{{ postData.date }}">
      {{ postData.date | date:"%B %e, %Y" }}
    </time>
    </li>
  {%- endfor -%}
</ul>
